
<button class="scroll-to-top" [ngClass]="{'show': mostrarBotaoScrollTop}" (click)="scrollToTop()">
  <img [src]="imgSetaTop" alt="Imagem Seta top">
</button>
<footer id="footer">
  <div class="container-logo">
    <div>
      <img [src]="imgLogoVerde" />
      <p>
        Tornando sua produção mais rápida e <br />
        eficaz, com conforto e precisão!
      </p>
    </div>

    <div>
      <p>Siga-nos e nossas redes sociais:</p>
      <div class="social-midia">
        <a href="https://www.facebook.com/JactoBrasil/">
          <img [src]="imgFacebook" />
        </a>
        <a href="https://twitter.com/JactoBrasil">
          <img [src]="imgTwitter" />
        </a>
        <a href="https://www.instagram.com/jactobrasil/">
          <img [src]="imgInstragram" />
        </a>
        <a href="https://www.youtube.com/JactoAgricola">
          <img [src]="imgYoutube" />
        </a>
      </div>
    </div>
  </div>

  <div class="description">
    <div>
      <h2>Horários</h2>
      <p>
        De Segunda à Sexta - das 08h às 17h <br />
        Sábados - das 9h às 15h
      </p>
    </div>

    <div>
      <h2>Endereço</h2>
      <p>
        Av das Camélias, 5897 - Vila Pamplona <br />
        São Paulo - SP <br />
        CEP: 0200-580
      </p>
    </div>
  </div>

  <div>
    <div>
      <h2>Contato</h2>
      <p>
        (11) 98898-9999 <br />
        (11) 98898-8888 <br />
        (11) 98898-7777
      </p>
    </div>
  </div>
</footer>

<div class="copyright">
  <p>Copyright © Trevo 2023 - Todos os direitos reservados</p>
</div>
