@import '../../../variables';

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;

  h1 {
    text-align: center;
    color: $green;
    text-transform: uppercase;
  }


  ul {
    margin-top: 3.5rem;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(6, auto);
  }

  @media (max-width: 1400px) {
    ul {
      grid-template-columns: repeat(3, auto);
    }
  }

  @media (max-width: 768px) {
    ul {
      grid-template-columns: repeat(2, auto);
    }
  }

  @media (max-width: 480px) {
    ul {
      grid-template-columns: auto;
    }
  }





}

