@import '../../../variables';

section{
  padding: 3rem;

  h1{
    text-align: center;
    color: $green;
  }

  ul {
    margin: 3.5rem 0;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  @media (max-width: 1400px) {
    ul {
      grid-template-columns: auto auto;
    }
  }

  @media (max-width: 768px) {
    ul {
      grid-template-columns: auto;
    }
  }

  @media (max-width: 480px) {
    ul {
      grid-template-columns: auto;
    }
  }

}
