@import '../../../variables';

section {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: $green;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3.5rem;
  }

  .wrapper-video{
    padding: 1rem;

    width: 100%;
    height: 100%;

    max-width: 996px;
    max-height: 500px;
    aspect-ratio: 16/9;

    iframe {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }



}

