$green: #0DB04B;
$orange: #EC6608;
$gray: #333333;
$black: #000000;

$font-roboto-black: 'Roboto Black', sans-serif;
$font-roboto-bold: 'Roboto Bold', sans-serif;
$font-roboto-regular: 'Roboto Regular', sans-serif;

$font-size-title: 3rem;
$font-size-subtitle: 2.25rem;
$font-size-default: 1rem;
