@import 'variables';

body {
  font-family: $font-roboto-regular;
  font-size: $font-size-default;

  h1 {
    font-family: $font-roboto-black;
    font-size: $font-size-title;
    font-weight: 900;
  }

  h2 {
    font-family: $font-roboto-bold;
    font-size: $font-size-subtitle;
    font-weight: 700;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

