@import '../../../variables';
section{
  margin-top: 6rem;

  h1 {
    color: $green;
    text-align: center;
    text-transform: uppercase;
  }

  ul {
    margin-top: 3.5rem;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  @media (max-width: 1400px) {
    ul {
      grid-template-columns: auto auto;
    }
  }

  @media (max-width: 768px) {
    ul {
      grid-template-columns: auto;
    }
  }

  @media (max-width: 480px) {
    ul {
      grid-template-columns: auto;
    }
  }

}
