@import '../../../variables';

section {
  margin-top: 6rem;

  h1 {
    color: $green;
    text-align: center;
    text-transform: uppercase;
  }

  ul {
    margin: 3.5rem 0;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .saiba-mais {
    display: flex;
    justify-content: center;
    a {
      text-decoration: none;
      cursor: pointer;
      color: $gray;
      font-weight: 700;
      text-align: center;
      margin-bottom: 0;
    }

  }

  @media (max-width: 1400px) {
    ul {
      grid-template-columns: auto auto;
    }
  }

  @media (max-width: 768px) {
    ul {
      grid-template-columns: auto;
    }
  }

  @media (max-width: 480px) {
    ul {
      grid-template-columns: auto;
    }
  }

}
